go 1.23.0

use (
	./internal/account_service
	./internal/api_gateway
	./internal/auth_service
	./internal/cms_service
	./internal/email_service
	./internal/ppob_service
	./internal/product_catalog_service
	./internal/payment_service
	./pkg/logger
	./pkg/micromill/broker
	./pkg/micromill/client
	./pkg/micromill/server
	./pkg/migrator
	./pkg/shared
)
