go 1.22.2

use (
	./pkg/account_service
	./pkg/api_gateway
	./pkg/auth_service
	./pkg/cms_service
	./pkg/email_service
	./pkg/logger
	./pkg/micromill/broker
	./pkg/micromill/client
	./pkg/micromill/server
	./pkg/product_catalog_service
	./pkg/shared
)
